


body{background-color: #98D8AA;
z-index:1;}
.main {
    width: 80%;
    height: 100%;
    background: white;
    z-index:2;
    position: absolute;
    top: 119px;
    right: 10%;
    left: 10%;
}

h1 {font-family: "Roboto Condensed";
text-align:center;
}
h2 {font-family: "Roboto Condensed";
text-align: center;
}
h3 {
    font-family: "Roboto Condensed";
text-align:center;
}

img {min-width: 500px;
margin-left: 33%;}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FF6D60;
    z-index:3;
}
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbut {
    background-color: #FF6D60;
    color: black;
    border: none;
    padding: 50px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: "Roboto Condensed"
}

.navbut:hover {
    background-color: #F7D060;
    color: black;
}

a {
    margin-left: 2%;
    color: black;
}
h1 {
    font-size: 250%;
    text-indent: 3%;
    padding: 25px 20px 25px 10px;
    line-height: 31px;
    float: left;
    margin: auto;
}
h2 {
    font-size: 200%;
    background-color: #F7D060;
    border: none;
    padding: 1% 0%;
    width: 33%;
    min-width: 155px;
    position: relative;
    left: 35%;
    margin: 0 0 0 0;
    top: 20px;
    
    
    }

h3 {
    position: relative;
    width:33%;
    left:35%;
    top: 30px;
    margin: 0;
}


